<% # copy and paste modification of bento_search _std_item.html.erb
   # to add location/call number
%>

<% #  must pass in locals:
   #    * 'item' that's a BentoSearch::ResultItem
   #    * 'results' that's the BentoSearch::Results (optional, actually)
   #    * 'item_counter', 1-based collection counter, passed in automatically
   #       by rails render collection (little known rails feature),
   #       can be used with results.start to calculate actual result set
   #       index.
   #
   # Custom partials meant to take this place of this one should
   # use same convention, local 'item'.
   #
   # By default we're passing index to item_title partial to display
   # counter for results, not sure if that's going to be generally
   # wanted, but to begin with I'm often taking what I need locally
   # based on user-testing and stuff for my use cases, and making
   # it default.
%>



<% bento_decorate(item) do |item| %>

  <%# for debugging purposes, we'll include the vendor-specific unique_id, if we have
      one, in a data-unique-id attribute. %>

  <div class="bento_item" data-unique-id="<%= item.unique_id %>">
    <% if item.display_format.present? || item.display_language.present? %>
      <div class="bento_item_about">
        <%- if item.display_format.present? -%>
          <span class="bento_format"><%= item.display_format -%></span>
        <%- end -%>
        <%- if item.display_language.present? -%>
          <span class="bento_language"> in <%= item.display_language -%></span>
        <%- end -%>
      </div>
    <% end %>
    <h4 class="bento_item_title">
      <%= link_to_unless(item.link.blank?, item.complete_title, item.link) %>

      <% if item.display_configuration.try{|h| h[:indicate_fulltext]} && item.link_is_fulltext? %>
        <small class="bento_available_online">Online</small>
      <% end %>
    </h4>

    <div class="bento_item_body">
      <% if item.any_present?(:authors, :display_date) %>
        <div class="bento_item_row first_about">

          <% if item.authors.present? %>
            <span class="authors">
              <%= item.render_authors_list %>
            </span>
          <% end %>

          <% if item.authors.present? && item.display_date.present? %>
            <span class="seperator"><%= I18n.t("bento_search.author_date_seperator", :default=>"—") %></span>
          <% end %>

          <% if item.display_date.present? %>
            <span class="date">
              <%= item.display_date %>
            </span>
          <% end %>

        </div>
      <% end %>

      <% if item.has_source_info? %>
        <div class="bento_item_row second_about">
          <%= item.render_source_info %>
        </div>
      <% end %>

      <% if item.custom_data[:location].present? || item.custom_data[:call_number].present? %>
        <div class="bento_item_row shelf-location">
          Shelf location:
          <%= item.custom_data[:location] %>
          <%= item.custom_data[:call_number] %>
        </div>
      <% end %>

      <% if item.other_links.present? %>
        <div class="bento_item_other_links">
          <%= render :partial => "bento_search/link", :collection => item.other_links %>
        </div>
      <% end %>
    </div>

    <% if item.abstract %>
      <hr />
      <div class="bento_item_row abstract">
        &ldquo;<%= item.render_summary  %>&rdquo;
      </div>
    <% end %>

  </div>
<% end %>
